

    <!-- Intro Section -->
    <div class="intro-section">
        <img src="img/collaborative.png" alt="Intro Image">
        <div class="intro-text">
            <h1>Professionnels/Entreprise</h1> 
            <p>Parce que chaque professionnel est différent et que chaque entreprise a des contraintes qui lui sont uniques, 
                les solutions de la MAE Assurances dédiées aux professionnels sont conçues pour s’adapter à votre activité. 
                Que vous soyez avocat, architecte, médecin, artisan ou restaurateur, 
                votre conseiller MAE Assurances vous accompagne dans le développement de solutions d’assurance qui correspondent à l’ensemble de vos besoins.</p>
        </div>
    </div>

    <!-- Services Section -->
    <div class="particular-services">
        <div class="services-container">
            <h1>Nos Services</h1>
            <p>Découvrez les services que nous offrons pour assurer la tranquillité d’esprit de votre entreprise et de vos professionnels.</p>
            <div class="services">
                <!-- Service Cards -->
                <div class="service-card">
                    <img src="img/laptop.png" alt="Service 1">
                    <h2>Touts risque ordinateurs</h2>
                    <button class="btn">Voir plus</button>
                </div>
                <div class="service-card">
                    <img src="img/machine-learning.png" alt="Service 2">
                    <h2>Materiels électroniques</h2>
                    <button class="btn">Voir plus</button>
                </div>
                <div class="service-card">
                    <img src="img/car2.png" alt="Service 3">
                    <h2>Sayartek</h2>
                    <button class="btn">Voir plus</button>
                </div>
                <div class="service-card">
                    <img src="img/insurance.png" alt="Service 4">
                    <h2>Individuel accident</h2>
                    <button class="btn">Voir plus</button>
                </div>
                <div class="service-card">
                    <img src="img/salary.png" alt="Service 5">
                    <h2>Rezkek</h2>
                    <button class="btn">Voir plus</button>
                </div>
                <div class="service-card">
                    <img src="img/piston.png" alt="Service 6">
                    <h2>Tous risques engins</h2>
                    <button class="btn">Voir plus</button>
                </div>
                <div class="service-card">
                    <img src="img/delivery.png" alt="Service 7">
                    <h2>Transport</h2>
                    <button class="btn">Voir plus</button>
                </div>
                <div class="service-card">
                    <img src="img/sick-group.png" alt="Service 8">
                    <h2>Groupe maladie</h2>
                    <button class="btn">Voir plus</button>
                </div>
                <div class="service-card">
                    <img src="img/cellective_money.png" alt="Service 9">
                    <h2>Epargne collective</h2>
                    <button class="btn">Voir plus</button>
                </div>
                <div class="service-card">
                    <img src="img/construction.png" alt="Service 10">
                    <h2>RC décennale</h2>
                    <button class="btn">Voir plus</button>
                </div>
                <div class="service-card">
                    <img src="img/fire-alarm.png" alt="Service 11">
                    <h2>Incendie</h2>
                    <button class="btn">Voir plus</button>
                </div>
                <div class="service-card">
                    <img src="img/foundation.png" alt="Service 12">
                    <h2>Tous risque chantier</h2>
                    <button class="btn">Voir plus</button>
                </div>
                <div class="service-card">
                    <img src="img/machine_brek.png" alt="Service 13">
                    <h2>Bris de machine</h2>
                    <button class="btn">Voir plus</button>
                </div>
            </div>
        </div>
    </div>
