<div class="contact-us-container">
        <h1>Contact Us</h1>
        <p>Nous sommes là pour vous aider avec toute demande de renseignements ou préoccupation que vous pourriez avoir. N'hésitez pas à nous contacter via l'une des méthodes suivantes :</p>
        
        <div class="contact-methods">
            <div class="contact-method">
                <img src="img/phone-call.png" alt="Phone">
                <h2>Téléphone</h2>
                <p>Appelez-nous au <strong>+216 70 020 300</strong></p>
                <p>lundi - vendredi: 8 AM - 6 PM</p>
            </div>
            <div class="contact-method">
                <img src="img/gmail.png" alt="Email">
                <h2>Email</h2>
                <p>Envoyez-nous un email à <strong>mae.assurances&#64;mae.tn</strong></p>
                <p>Nous vous répondrons dans les 24 heures</p>
            </div>
            <div class="contact-method">
                <img src="img/location.png" alt="Address">
                <h2>Adresse</h2>
                <p>Visitez-nous à</p>
                <p><strong>Avenue Ouled Haffouz Bab El Khadra 1075 Tunis</strong></p>
                <p>lundi - Vendredi: 8 AM - 6 PM</p>
            </div>
            <div class="contact-method">
                <img src="img/google-forms.png" alt="Contact Form">
                <h2>Contact Forum</h2>
                <p>Remplissez le formulaire ci-dessous et nous vous répondrons :</p>
                <form action="" method="POST">
                    <label for="name">Nom</label>
                    <input type="text" id="name" name="name" required>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                    <label for="message">Message</label>
                    <textarea id="message" name="message" rows="5" required></textarea>
                    <button type="submit">Envoyer</button>
                </form>
            </div>
            <div class="contact-method">
                <img src="img/social-media.png" alt="Social Media">
                <h2>Média Sociales</h2>
                <p>Connectez avec nous avec :</p>
                <p>
                    <a href="https://www.facebook.com/profile.php?id=100080057751170" target="_blank">Facebook</a><br>
                    <a href="https://www.instagram.com/maeassurances/" target="_blank">Instagram</a><br>
                    <a href="https://www.linkedin.com/company/mae-assurance/posts/?feedView=all" target="_blank">LinkedIn</a>
                </p>
            </div>
        </div>
    </div>
