

    <div>
        <img src="img/page-mieux-nous-connaitre-Récupéré.jpg" style="width: 100%; height: auto;" alt="">
    </div>
    
    <div class="directeur">
        <h3>Tout sur nous</h3>
        <p>Découvrir et comprendre le monde d'assurance</p>
        <p>Nous sommes une mutuelle. C’est-à-dire une entreprise bâtie avant tout et depuis toujours sur des valeurs de communauté, de bien collectif et de services à ses membres. Ça, c’est précieux.</p>
        <h1 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Mot de directeur général</h1>
        <div class="image-text">
            <img src="img/dg.png" alt="Directeur Général" style="border-radius: 35px;">
      
        </div>
        <h2>Le Directeur Général M.Lassaad Zarrouk</h2>
        <p>Notre engagement renouvelé envers notre communauté humaine se manifeste dans notre culture et nos pratiques d’entreprise, qui nous amènent à concilier nos ambitions économiques et financières aux enjeux sociaux et environnementaux. C’est la voie mutualiste et solidaire que nous suivons, car notre conviction profonde est que notre entreprise doit être au service de l’humain.</p>
    
        <h2>Notre Histoire</h2>
        <p>Entreprise fondée en 1962, La Mutuelle Assurance de l'Enseignement est une société mutualiste pour qui l'intérêt de la collectivité a toujours été fondamental. Elle avait pour objet d'établir entre ses adhérents un lien mutualiste visant à les couvrir contre les risques autorisés par la législation. ...</p>
    
        <h1>Nos valeurs</h1>
        <div class="division">
            <div class="content">
                <img class="responsive-image" src="img/nos_valeurs.jpg" alt="Nos Valeurs">
                <div class="text-container">
                    <div class="text">Mutualité : La MAE Assurance Tunisie est une société mutualiste qui incarne les valeurs de solidarité et de soutien mutuel. Fondée par des enseignants pour se protéger mutuellement contre les aléas de la vie, la MAE continue de promouvoir l’esprit de mutualité en mettant l’humain au cœur de ses préoccupations.</div>
                    <div class="text">Engagement social : La MAE Assurance Tunisie est profondément engagée envers la communauté. Elle vise à concilier ses ambitions économiques et financières avec les enjeux sociaux, en veillant à ce que ses activités profitent à tous ses adhérents et contribuent positivement à la société.</div>
                    <div class="text">Accessibilité : La MAE Assurance Tunisie s’efforce de rendre ses services accessibles à tous. Elle propose une large gamme de produits d’assurance adaptés aux besoins des particuliers, des familles et des entreprises, et elle dispose d’un réseau étendu de points de vente sur l’ensemble du territoire tunisien.</div>
                    <div class="text">Compétence : La MAE Assurance Tunisie s’efforce constamment d’améliorer ses compétences et ses services. Elle investit dans la formation continue de son personnel et dans l’innovation technologique pour offrir à ses adhérents des produits d’assurance de la plus haute qualité. Sa compétence se reflète dans sa capacité à répondre aux besoins diversifiés de ses adhérents et à s’adapter aux évolutions du marché de l’assurance.</div>
                    <div class="text">Intégrité : La MAE Assurance Tunisie est guidée par un fort sens de l’intégrité. Elle s’engage à agir avec honnêteté, transparence et équité en toutes circonstances. En tant que société mutualiste, elle est gérée par ses adhérents, qui élisent leurs représentants pour constituer l’Assemblée générale, garantissant ainsi une gestion transparente et équitable.</div>
                    <div class="text">Respect : Le respect est au cœur des valeurs de la MAE Assurance Tunisie. Elle s’engage à respecter les droits et les intérêts de tous ses adhérents, quels que soient leur âge, leur sexe, leur origine ou leur situation personnelle. Elle respecte également les lois et les réglementations en vigueur, et elle s’efforce de contribuer positivement à la société en respectant l’environnement et en soutenant les initiatives sociales.</div>
                </div>
            </div>
        </div>
        <br><br>
        <h1>Nos statégies</h1> <br>
        <ul class = "strategies-list" ><li>Notre habilité à développer des solutions d'assurance de qualité et à forte valeur ajoutée en adéquation avec les attentes de nos adhérents et l’évolution de notre société.</li> <br>
            <li>La souplesse de notre structure, la force de notre engagement, la créativité, l’audace et la rigueur de notre équipe.</li> <br>
            <li>Renforcer nos relations de proximité avec nos adhérents pour mieux les accompagner à chaque étape de leur vie et de leurs activités.</li> <br>
            <li>Notre volonté à saisir toutes les opportunités de progrès pour rester un acteur de premier plan sur le marché d’assurance tunisien.</li> <br>
            <li>Redonner un nouvel élan au modèle mutualiste.</li> <br>
        </ul>
    </div>

