* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
   background-color: rgb(165, 214, 185);
  }
  
  .login-box {
    width: 100%;
    max-width: 400px;
    padding: 20px;      
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-box h2 {
    color: #4caf50;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .input-box {
    margin-bottom: 20px;
  }
  
  .input-box label {
    display: block;
    color: #333;
    margin-bottom: 5px;
    font-weight: 700;
  }
  
  .input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .input-box input:focus {
    border-color: #4caf50;
  }
  
  .login-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-btn:hover {
    background-color: #45a049;
  }
  
  @media (max-width: 500px) {
    .login-box {
      padding: 15px;
    }
    
    .login-box h2 {
      font-size: 24px;
    }
    
    .input-box input {
      padding: 8px;
    }
    
    .login-btn {
      padding: 8px;
      font-size: 14px;
    }
  }
  