

    <!-- Intro Section -->
    <div class="intro-section">
        <img src="img/corporation.jpeg" alt="Intro Image">
        <div class="intro-text">
            <h1>Associations/Corporations</h1> 
            <p>Pour que votre association puisse exercer ses missions en toute quiétude, elle doit être protégée quelles que soient sa taille et ses activités.
                Une association étant associée à une personne morale, avec ses représentants et ses responsabilités, est soumise à une série de risques qui pèsent également sur ses adhérents, 
                ses employés ou ses bénévoles, mais également sur ses biens. Une police d’assurance spécialisée est indispensable à toutes associations. 
                Auquel cas les conséquences financières pourraient s’avérer catastrophiques en cas d’accident.
            </p>
        </div>
    </div>

    <!-- Services Section -->
    <div class="particular-services">
        <div class="services-container">
            <h1>Nos Services</h1>
            <p>Découvrez les services que nous offrons pour assurer la tranquillité d'esprit de votre association ou de votre entreprise.</p>
            <div class="services">
                <!-- Service Cards -->
                <div class="service-card">
                    <img src="img/savings.png" alt="Service 1">
                    <h2>RC Association</h2>
                    <button class="btn">Voir plus</button>
                </div>
                <div class="service-card">
                    <img src="img/travelplane.png" alt="Service 2">
                    <h2>Safer</h2>
                    <button class="btn">Voir plus</button>
                </div>
                <div class="service-card">
                    <img src="img/car3.png" alt="Service 3">
                    <h2>Sayartek</h2>
                    <button class="btn">Voir plus</button>
                </div>
                <div class="service-card">
                    <img src="img/security.png" alt="Service 4">
                    <h2>Individuel accident</h2>
                    <button class="btn">Voir plus</button>
                </div>
                <div class="service-card">
                    <img src="img/network.png" alt="Service 5">
                    <h2>MAPL</h2>
                    <button class="btn">Voir plus</button>
                </div>
  
            
                <div class="service-card">
                    <img src="img/burning-house.png" alt="Service 11">
                    <h2>Incendie</h2>
                    <button class="btn">Voir plus</button>
                </div>
       
            </div>
        </div>
    </div>

