

    <div class="app-download">
        <div class="app-download-container">
            <div class="logo-container">
                <img src="img/icon/mae_newlogo.png" alt="Logo Assurance" class="logo">
            </div>
            <h1>Téléchargez notre application mobile</h1>
            <div class="store-links">
                <a href="https://appgallery.huawei.com/app/C106137931" target="_blank" class="store-link">
                    <img src="img/app_gal.jpeg" alt="Appallery">
                    <br>
                    <span>AppGallery</span>
                </a>
                <a href="https://apps.apple.com/us/app/mae-assurances/id1625857348" target="_blank" class="store-link">
                    <img src="img/app_store.png" alt="App Store">
                    <br>
                    <span>App Store</span>
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.medianet.mae" target="_blank" class="store-link">
                    <img src="img/google_play.png" alt="Google Play">
                    <br>
                    <span>Google Play</span>
                </a>
            </div>
        </div>
    </div>

