


    <!-- Intro Section -->
    <div class="intro-section">
        <img src="img/particulier.jpg" alt="Intro Image">
        <div class="intro-text">
            <h1>Particulier</h1> 
            <p>Ensemble, construisons votre projet,<br>
            Préparer l'avenir, sa retraite, déménager, voir son foyer évoluer, autant de projets qui nécessitent parfois d'être aidé.<br>
            Nos polices d’assurance des particuliers vous permettent d’obtenir une assurance adaptée à vos besoins et d’avoir l’esprit en paix. Peu importe ce dont vous avez besoin d’assurer, avec MAE Assurances, vos avoirs seront protégés.</p>
        </div>
    </div>

    <!-- Services Section -->
    <div class="particular-services">
        <div class="services-container">
            <h1>Nos Services</h1>
            <p>Découvrez les services que nous offrons pour vous assurer une tranquillité d'esprit.</p>
            <div class="services">
                <!-- Service Cards -->
                <div class="service-card">
                    <img src="img/mixte.png" alt="Service 1">
                    <h2>Mixte</h2>
                    <button class="btn">Voir plus</button>
                </div>
                <div class="service-card">
                    <img src="img/darek.png" alt="Service 2">
                    <h2>Darek</h2>
                    <button class="btn">Voir plus</button>
                </div>
                <div class="service-card">
                    <img src="img/ouledek.png" alt="Service 3">
                    <h2>Krayet Aouledek</h2>
                    <button class="btn">Voir plus</button>
                </div>
                <div class="service-card">
                    <img src="img/foyer.png" alt="Service 4">
                    <h2>Pack Foyer</h2>
                    <button class="btn">Voir plus</button>
                </div>
                <div class="service-card">
                    <img src="img/saving.png" alt="Service 5">
                    <h2>Idikharek</h2>
                    <button class="btn">Voir plus</button>
                </div>
                <div class="service-card">
                    <img src="img/décé.png" alt="Service 6">
                    <h2>Temporaire Décès</h2>
                    <button class="btn">Voir plus</button>
                </div>
                <div class="service-card">
                    <img src="img/baher.png" alt="Service 7">
                    <h2>Ibharok</h2>
                    <button class="btn">Voir plus</button>
                </div>
                <div class="service-card">
                    <img src="img/heart-attack.png" alt="Service 8">
                    <h2>Prévoyance</h2>
                    <button class="btn">Voir plus</button>
                </div>
                <div class="service-card">
                    <img src="img/airplane.png" alt="Service 9">
                    <h2>SaferTek</h2>
                    <button class="btn">Voir plus</button>
                </div>
                <div class="service-card">
                    <img src="img/person.png" alt="Service 10">
                    <h2>Individuel Accident</h2>
                    <button class="btn">Voir plus</button>
                </div>
                <div class="service-card">
                    <img src="img/parenthood.png" alt="Service 11">
                    <h2>RC Chef de Famille</h2>
                    <button class="btn">Voir plus</button>
                </div>
                <div class="service-card">
                    <img src="img/therapy.png" alt="Service 12">
                    <h2>Santé Individuelle</h2>
                    <button class="btn">Voir plus</button>
                </div>
                <div class="service-card">
                    <img src="img/car.png" alt="Service 13">
                    <h2>SayarTek</h2>
                    <button class="btn">Voir plus</button>
                </div>
            </div>
        </div>
    </div>


